<div class="login-container">
  <div class="illustration-section">
  
  </div>

  <div class="login-form-section">
    <div class="login-form-content">

     
      <form class="form">
        <div class="logo"><img src="../../assets/logo.png" alt="SkillBridge Logo"></div> 
        <h2>Hello Again!</h2>
        <input type="email" placeholder="Email ">
        <input type="password" placeholder="Password">
        <div class="user-type-selection">
          <span class="user-type-phrase">You're a :</span>
          <label>
            <input type="radio" name="userType" value="student" checked> Student
          </label>
          <label>
            <input type="radio" name="userType" value="professor"> Professor
          </label>
        </div>
        <a href="#" class="recovery-password">Recovery Password!</a>
        <button type="submit" class="login-btn">Login</button>
        <div class="divider">Or continue with</div>

        <div class="social-login">
          <button class="social-btn google"></button>
          <button class="social-btn linkedin"></button>
          <button class="social-btn github"></button>
        </div>
      </form>

   
    </div>
  </div>
</div>
