/* MAIN WRAPPER */
.layout-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* LEFT PANEL */
.left-panel {
  width: 50%;
  background: linear-gradient(180deg, rgba(162, 109, 222, 0.7), rgba(106, 13, 173, 0.7)), url("../../assets/register_image.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-content {
  width: 80%;
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-logo {
  width: 120px;
}

.left-text h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.left-text p {
  opacity: 0.8;
  font-size: 0.95rem;
}

/* RIGHT PANEL */
.right-panel {
  width: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 380px;
  text-align: left;
}

.title {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.subtitle {
  color: #666;
  margin-bottom: 30px;
}

/* INPUT FIELDS */
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-group input {
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fafafa;
}

/* User Type Selection */
.user-type-selection {
  display: flex; /* Ensures horizontal layout */
  align-items: center;
  margin-bottom: 20px;
  gap: 20px; /* Increased gap for better visual separation */
}

.user-type-selection .user-type-phrase {
  font-weight: 600;
  color: #333;
  margin-right: 5px;
}

.user-type-selection label {
  display: flex;
  align-items: center;

  cursor: pointer;
  font-size: 1em;
  color: #555;
}

.user-type-selection input[type="radio"] {
  accent-color: #6a0dad; /* This will color the radio button itself */
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

/* BUTTONS */
.primary-btn {
  width: 100%;
  padding: 14px;
  background: #6a0dad;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

.separator {
  text-align: center;
  margin: 25px 0;
  color: #888;
}

.social-buttons {
  display: flex;
  gap: 10px;
}

.social {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fafafa;
  font-weight: 600;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.footer-text {
  margin-top: 25px;
  text-align: center;
  color: #666;
}

.footer-text a {
  color:#6a0dad;
  font-weight: 600;
}
